body {
    background: rgb(195, 195, 195);
    background: linear-gradient(90deg, rgba(195,195,195,1) 0%, rgba(249,249,249,1) 18%, rgba(255,255,255,1) 62%, rgba(195,195,195,1) 99%);
}

.navbar-custom {
    background-color: rgb(185, 204, 139);
}

ul {
    
    overflow: hidden;
    list-style-type: none;
    top:0;
    padding: 5px;
    width: 100%;
    display: block;
    height: 5%;
}

li img {
    margin-bottom: 10%;
    width:89px; 
    height:60px;
}

li {
    float: left;
}

li > a{
    
    color: black;
    text-align: center;
    padding: 20px 23px;
    font-size: 20px;
}
.logo {
    margin-top: 50px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: left;
    display: block;
}

.condotitle {
    padding: 3%;
    margin-left: 28%;
}

.carousel-item {
    height: 400px;
    position: relative;
    z-index: 9%;
    top: 0;
    right: 40px;
    
}

.carousel img {
    /* border-radius: 3%; */
    width: 55vw;
    height: 35vw;
    border-color: rgb(195, 195, 195); 
    border-width: 3px; 
    border-style: solid;
    margin-left: 25%;
    /* margin-top: 1%;  */

}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-size: 100% 100%;
    /* border: solid black;
    outline: black; */
    background-image: none;
    
}

.carousel-inner {
    padding: 3%;
}
.sr-only {
    color: black;
    border-style: solid;
}

.familytitle {
    padding: 4%;
    margin-left: 23%;
}


* {
    box-sizing: border-box;
}

.main {
    max-width: 1000px;
    margin: auto;
}

.row {
    margin: 8px -16px;
}

/*padding between each column */
.row,
.row > .column {
    padding: 8px;
}

/*equal columns */
.column {
    float: left;
    width: 25%;
}
 /* clear floats after rows */
 .row:after {
     content: "";
     display: table;
     clear: both;
 }

 .content {
     background-color:rgb(201, 196, 196);
     padding: 10px;
 }

/* Responsive layout- makes two columns */
@media screen and (max-width:900px) {
    .column {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}





/* .grid-container {    
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 0;
    background-color: darkgray;    
    
} */

/* .grid-container > div {
    background-color: white;
    display: grid;
} */


.photo1>img {
    display: grid;   
    object-fit: cover;
    width:40%;
    height:30%;
    margin-left: 15%;


   
}

.photo2>img {
    
    width:100%;
    height:95%;
    margin-left: -55%;
    /* margin-top: -65%; */
    
    
       
}

.photo3>img {
    display:grid;   
    object-fit: cover;
    Width: 30vw;
    height:20vw;
    margin-left: 10%;
    
       
}

/* .photo4>img {
    display:grid;    
    object-fit: cover;
    Width: 30vw;
    height:20vw;
    

} */


/* .grid-container[class="info2"] {
    border-style: solid;
    background-color: rgb(219, 204, 174);    
    border-radius: 5px;
    font-weight: bold;
    width: 80%;
    height:20%; 
    float: left;
    line-height: 2px; */



.info1 {
    margin-left: 25%;
    font-weight: bold;
}

.info2 {
    margin-left: 65%;
    font-weight: bold;
}


input[type=text],
textarea {
    padding: 8px 20px;
    text-align: center;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 12px 0;
    width: 30vw;  
}

    
input[type=submit] {
    cursor: pointer;    
    
}

button[type=submit]:hover {
    background-color: green;
}


form {
    background-color: gray;
    border-radius: 10px;
    padding: 80px;
    width: 52vw;    
    margin: 10% 30%;
    
}


input[type=message] {
    margin: 10px;
    width: 30vw;    
    padding: 15px 25px;
    margin-left: 85px;
}

input[type=email] {
    width: 30vw;
    padding: 10px 25px;
    margin: 15px 0;
    box-sizing: border-box;
    border-radius: 3%;
}

button:hover{
    background-color: red;
}


.mission {
    text-align: center;
    color: #006ccf;
}


.lead {
    margin-top: 3%;
    color:#006ccf;
}

.condoprop {
    text-align: center;
    border-style: solid;
    border-color: lightgray;
    border-radius: 5px;
    background-color: darkgray;
    font-weight: bold;
    line-height: 8px;
    padding: 7px;
}

form>label {
    font-size: x-large;
    font-weight: bold;
}

.carousel-indicators {
    background: transparent;
    
}

#propSlide {
    background-color: rgb(128, 127, 127);
}

