body {
    background: rgb(195, 195, 195);
    background: linear-gradient(90deg, rgba(195,195,195,1) 0%, rgba(249,249,249,1) 18%, rgba(255,255,255,1) 62%, rgba(195,195,195,1) 99%);
}

ul {
    background-color: #c3c3c3;
    overflow: hidden;
    list-style-type: none;
    top:0;
    padding: 5px;
    width: 100%;
    display: block;
    height: 5%;
}

li img {
    margin-bottom: 10%;
    width:89px; 
    height:60px;
}

li {
    float: left;
}

li a {
    
    color: black;
    text-align: center;
    padding: 20px 23px;
    font-size: 20px;
}
.logo {
    margin-top: 50px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: left;
    display: block;
}
.carousel-item {
    height: 400px;
    position: relative;
    z-index: 9%;
    top: 0;
    right: 40px;
    
}

.carousel img {
    border-radius: 3%;
    width: 55vw;
    height: 35vw;
    border-color: rgb(195, 195, 195); 
    border-width: 3px; 
    border-style: solid;
    margin-left: 28%;
    margin-top: 1%;

}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-size: 100% 100%;
    border: solid black;
    outline: black;
    background-image: none;
}
.sr-only {
    color: black;
    border-style: solid;
}



.grid-container {    
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 0;
    background-color: darkgray; 
     
    
}


.video {
    display: grid;   
    object-fit: cover;
    width: 39vw;
    height: 80vw;
    margin-left: 15%;
    margin-top: 5%; 
    
   
}

.photo2>img {
    display: grid;
    object-fit: cover;
    width:39vw;
    height: 26vw;
    margin-top: 13%;
    margin-right: 10%;   
}

.photo3>img {
    display: grid;   
    object-fit: cover;
    Width: 39vw;
    height:21vw;
    margin-left: 10%;
    margin-top: -40%;
       
}

.photo4>img {
    display: grid;    
    object-fit: cover;
    Width: 39vw;
    height:20vw;
    margin-top: -40%;

}


.grid-container[class="info"] {
    border-style: solid;
    background-color: ivory;
    border-radius: 5px;
    font-weight: bold;
    width: 80%;
    height:20%;
    margin-top: 3%;
    text-align: justify;
    float: left;
    line-height: 4px;

}
.info {
    font-weight: bold;
}

.info1 {
    margin-left: 10%;
    font-weight: bold;
}


input[type=text],
textarea {
    padding: 8px 20px;
    text-align: center;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 12px 0;
    width: 30vw;  
}

    
input[type=submit] {
    cursor: pointer;    
    
}

button[type=submit]:hover {
    background-color: green;
}


form {
    background-color: gray;
    border-radius: 10px;
    padding: 80px;
    width: 52vw;    
    margin: 10% 30%;
    
}


input[type=message] {
    margin: 10px;
    width: 30vw;    
    padding: 15px 25px;
    margin-left: 85px;
}

input[type=email] {
    width: 30vw;
    padding: 10px 25px;
    margin: 15px 0;
    box-sizing: border-box;
    border-radius: 3%;
}

button:hover{
    background-color: red;
}


.mission {
    text-align: center;
    color: #006ccf;
}

h1 {
    text-align: center;
    margin-top: 30%;
}


.condoprop {
    text-align: center;
    border-style: solid;
    border-color: lightgray;
    border-radius: 3px;
    background-color: darkgray;
    font-weight: bold;
    line-height: 8px;
    padding: 10px;
}

form>label {
    font-size: x-large;
    font-weight: bold;
}


